Cluster SEO Post PestControlNoida (1).json
{
  "name": "Cluster SEO Post PestControlNoida",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 4,
              "triggerAtHour": 13,
              "triggerAtMinute": {}
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -992,
        -224
      ],
      "id": "b30f4964-b62b-42ad-ba32-93600e8df8d9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aW15s9CSn5oEnld_P2GWSyeqdZHQ3q5_WITbns96yWA",
          "mode": "list",
          "cachedResultName": "PestControlNoida Keyword Cluster Master Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aW15s9CSn5oEnld_P2GWSyeqdZHQ3q5_WITbns96yWA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Lex India",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aW15s9CSn5oEnld_P2GWSyeqdZHQ3q5_WITbns96yWA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Completed",
              "lookupValue": "No"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -720,
        -224
      ],
      "id": "89c56aef-90f3-40b5-a92c-96a39b642812",
      "name": "Grab New Cluster",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vWNnFVGZnc7Nbwb5",
          "name": "LHI Google Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b8e8c4-9191-415a-9661-1b60d413528a",
              "name": "research",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -144
      ],
      "id": "6e22799f-3f50-4fe9-8479-2b6bfeb8b4d7",
      "name": "Fix Links",
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "previous-posts",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        992,
        -160
      ],
      "id": "41780356-b6b7-40dd-9ea5-177f6d915792",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PVBBxbRHq0IT2NbOfzWOrSRutc7xV2zXzxiTtpMLbX0",
          "mode": "list",
          "cachedResultName": "PestControlNoida Previous Post Master Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PVBBxbRHq0IT2NbOfzWOrSRutc7xV2zXzxiTtpMLbX0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LHI INDIA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PVBBxbRHq0IT2NbOfzWOrSRutc7xV2zXzxiTtpMLbX0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        832,
        -160
      ],
      "id": "1f6aa16a-2ff7-42f4-b78b-860c3e1b4c7d",
      "name": "Previous Posts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vWNnFVGZnc7Nbwb5",
          "name": "LHI Google Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aW15s9CSn5oEnld_P2GWSyeqdZHQ3q5_WITbns96yWA",
          "mode": "list",
          "cachedResultName": "PestControlNoida Keyword Cluster Master Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aW15s9CSn5oEnld_P2GWSyeqdZHQ3q5_WITbns96yWA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Lex India",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aW15s9CSn5oEnld_P2GWSyeqdZHQ3q5_WITbns96yWA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cluster": "={{ $('Grab New Cluster').item.json.Cluster }}",
            "Completed": "Yes",
            "Slug": "={{ $('Slug Writer').item.json.content.parts[0].text }}",
            "Post Title": "={{ $('Post Title').item.json.content.parts[0].text }}",
            "Meta Description": "={{ $('Meta Description').item.json.content.parts[0].text }}",
            "HTML": "={{ $('HTML Creator').item.json.content.parts[0].text }}"
          },
          "matchingColumns": [
            "Cluster"
          ],
          "schema": [
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Completed",
              "displayName": "Completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HTML",
              "displayName": "HTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3328,
        -160
      ],
      "id": "24b3d4e5-0fc3-4ca3-80e8-defddd7e977c",
      "name": "Check as completed on Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vWNnFVGZnc7Nbwb5",
          "name": "LHI Google Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Schedule a trigger\n \n",
        "height": 140,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -320
      ],
      "typeVersion": 1,
      "id": "c1a6a823-d5a9-498a-9f0a-0aa328ce51d7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## New Post Info\n \n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        -320
      ],
      "typeVersion": 1,
      "id": "7605405e-0a92-45b4-a1a0-488113782d6f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Preliminary Post Plan \n \no1 mini\n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        -320
      ],
      "typeVersion": 1,
      "id": "a5da95d3-18c6-4cc9-997d-0e7a66a757a5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Research\n \n \n",
        "height": 240,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -320
      ],
      "typeVersion": 1,
      "id": "b23c397f-9280-4ac5-8a20-beebb40ad510",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Post Plan \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -448
      ],
      "typeVersion": 1,
      "id": "ea031bd3-4b5e-42d7-a394-76849304d114",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Writing Blog\n \n \no1 preview",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -448
      ],
      "typeVersion": 1,
      "id": "e5f40ca4-b40b-457a-bdac-be81f8f6c069",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Internal Links\n \no1 mini\n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        -400
      ],
      "typeVersion": 1,
      "id": "f2a9ebb3-1c55-44e0-88db-57597c14e8f4",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## HTML\n\n \n \n",
        "height": 240,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        -400
      ],
      "typeVersion": 1,
      "id": "216a9fbb-7e63-4614-9bde-6cc2b21ecdc3",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Slug\n\n\n \n \n",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        -240
      ],
      "typeVersion": 1,
      "id": "278c1830-78ba-495e-8988-81843049532b",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Post Title\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2048,
        -240
      ],
      "typeVersion": 1,
      "id": "27d253c3-4fb5-4120-8ec5-d5deb7af775a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Meta Description\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2352,
        -240
      ],
      "typeVersion": 1,
      "id": "0fcd0e30-8291-4b4d-998c-aa121b624c0a",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Get Image\n\n\n\n \n \n",
        "height": 240,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2656,
        -240
      ],
      "typeVersion": 1,
      "id": "60773c1b-5ee2-423e-92bc-105dc0e10743",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Post\n\n\n\n\n \n \n",
        "height": 240,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3008,
        -240
      ],
      "typeVersion": 1,
      "id": "529088ed-8d06-4394-9020-3c6db1a159f1",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Completion\n\n\n\n\n\n \n \n",
        "height": 240,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3248,
        -240
      ],
      "typeVersion": 1,
      "id": "cbd249df-4457-4831-af92-a4555500f90e",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "# CLUSTER SEO POST - gpt5 mini\n\n \n \nhttps://www.youtube.com/watch?v=CP4VyckWlIg&t=2379s",
        "height": 240,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        -720
      ],
      "typeVersion": 1,
      "id": "4772ab6e-acd9-4a2f-be30-cdcbe32b3872",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PVBBxbRHq0IT2NbOfzWOrSRutc7xV2zXzxiTtpMLbX0",
          "mode": "list",
          "cachedResultName": "PestControlNoida Previous Post Master Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PVBBxbRHq0IT2NbOfzWOrSRutc7xV2zXzxiTtpMLbX0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LHI INDIA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PVBBxbRHq0IT2NbOfzWOrSRutc7xV2zXzxiTtpMLbX0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Blog Title": "={{ $('Post Title').item.json.content.parts[0].text }}",
            "URL": "=https://pestcontrolnoida.in/{{ $('Slug Writer').item.json.content.parts[0].text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Blog Title",
              "displayName": "Blog Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3536,
        -160
      ],
      "id": "28b641eb-cdbf-4e25-9ee6-e23137ed03f6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vWNnFVGZnc7Nbwb5",
          "name": "LHI Google Account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a professional news researcher who is capable of finding detailed summaries about a news topic from highly reputable sources.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.candidates[0].content.parts[0].text }}\"\n    }\n  ]\n}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        -16
      ],
      "id": "bf3d3644-180c-4eaf-8d82-8f72c38669cf",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "uDIRMIXDqzazTiKk",
          "name": "LHI Google Gemini(PaLM) Api Account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nYou are in charge of internal linking between blog posts. \n\nFor each new blog post that comes across your desk, your job is to look through previously posted blogs and make atleast 5 internal links. \n\nTo choose the best internal linking opportunities you must: \n\n- Read the previous blog post summaries and look through their keywords. If there is a match where the previous blog post is highly relevant, then this is an internal linking opportunity. \n\n- Do not link if it is not highly relevant. Only make a link if it makes sense and adds value for the reader. \n\nOnce you've found the best linking opportunities, you must update the blog post with the internal links. To do this you must: \n\n- Add the link of the previous blog post at the relevant section of the new blog post. Drop the URL at the place which makes most sense. Later we will hyperlink the URL to the word in the blog post which it is placed next to. So your placing is very important. \n\nMake sure to not delete any existing URLs or change anything about the blog post provided to you. You must only add new internal linking URLs and output the revised blog post. \n\nYour output must be the blog post given to you plus the new urls. Don't remove any info. \n\nDon't return the previous blog posts. Only return the current blog post with the internal links added.\n\nCurrent blog Post: \n{{ $('Blog Writer').item.json.content.parts[0].text }}\n\nPrevious Blog Posts: \n{{ $json['previous-posts'].toJsonString().split() }}\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1152,
        -144
      ],
      "id": "dbbc035f-7663-4017-b577-fd3f76de8e82",
      "name": "Internal Links",
      "credentials": {
        "googlePalmApi": {
          "id": "uDIRMIXDqzazTiKk",
          "name": "LHI Google Gemini(PaLM) Api Account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nYou are the teams best copywriter and are responsible for writing out the actual blog post. \n\nFor each new blog post project you are provided with a detailed plan and research findings. \n\nYour job is to create the blog post by closely following the detailed plan. \n\nThe blog post you create must: \n\n- Follow the plan bit by bit. \n\n- Use short paragraphs. \n\n- Use bullet points and subheadings with keywords where appropriate.  \n\n- Not have any fluff. The content of the blog must be value dense and direct. \n\n- Be detailed. \n\n- Include the keywords mentioned in each section within that section. \n\n- Use the research as advised by the plan. Make sure to include the link associated with each point you extract from the research at the end of that section in the form of a URL.  \n\n- Place the primary keyword in the blog title, H1 header and early in the introduction. \n\n- Place one keyword for each section in the heading of that section. \n\n-  When possible pepper synonyms of the keywords throughout each section. \n\n- When possible use Latent Semantic Indexing (LSI) keywords and related terms to enhance context (e.g., “robotic process automation” for RPA). \n\n- Be at minimum 2000 to 2500 words long. \n\n- Be suitable for a year 5 reading level. \n\nMake sure to create the entire blog post draft in your first output. Don't stop or cut it short. \n\nHere are the details of your next blog post project: \n\nDetailed Plan: \n{{ $json.content.parts[0].text }}\n\nDetailed Research: \n{{ $('Fix Links').item.json.research }}\n\n\nWrite the blog post."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        544,
        -128
      ],
      "id": "c8035354-1268-4e84-8731-90e063d24dd7",
      "name": "Blog Writer",
      "credentials": {
        "googlePalmApi": {
          "id": "uDIRMIXDqzazTiKk",
          "name": "LHI Google Gemini(PaLM) Api Account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nFor each new blog post project, you are provided with a list of keywords, a primary keyword, search intent, research findings and a preliminary blog post plan. Here's a definition of each of the inputs: \n\n- Keywords: These are the keywordswhich the blog post is meant to rank for on SEO. They should be scattered throughout the blog post intelligently to help with SEO. \n\n- Search intent: The search intent recognises the intent of the user when searching up the keyword. Our goal is to optimise the blog post to be highly relevant and valuable to the user, as such the search intent should be satisfied within the blog post. \n\n- Research findings: This is research found from very reputable resources in relation to the blog post. You must intelligently use this research to make your blog post more reputable. \n\n- Preliminary plan: Very basic plan set out by your colleague to kick off the blog post. \n\n- Primary keyword: Out of the keywords, there is one keyword known as the primary keyword. The primary keyword is the keyword which has the highest SEO importance and as such must go in the title and first few sentences of the blog post. It is important that the blog post is highly relevant to the primary keyword, so that it could be placed naturally into the title and introduction sections. \n\n\nGiven the said info, you must create a detailed plan for the blog post. \n \nYour output must: \n\n- Include a plan for the blog post.\n\n- Be in dot point format. \n\n- In each part of the blog post, you must mention which keywords should be placed. \n\nHere are the other things you must consider: \n\n- All keywords must be placed inside the blog post. For each section, mention which keywords to include. The keyword placement must feel natural and must make sense. \n\n- You must include all research points in the blog post. When including the research points, make sure to also include their source URL so that the copywriter can use them as hyperlinks. \n\n- You must ensure that the plan created satisfies the search intent and revolves directly around the given keywords. \n\n- Your plan must be very detailed. \n\n- Keep in mind the copywriter that will use your plan to write the blog post is not an expert in the topic of the blog post. So you should give them all the detail required so they can just turn it into nicely formatted paragraphs. So your plan should include all technical detail regarding each point to be in the blog post. For example instead of saying \"define X\", you must have \"define X as ...\". \n\n- The plan you create must have a flow that makes sense. \n\n- You must ensure the bog post will be highly detailed and satisfy the most important concepts regarding the topic. \n\nA new project has just came across your desk with below details:\n\nKeywords: \n{{ $('Grab New Cluster').item.json.Keywords }}\n\nSearch intent: \n{{ $('Grab New Cluster').item.json.Intent }}\n\nPreliminary plan: \n{{ $('Message a model').item.json.content.parts[0].text }}\n\nResearch findings: \n{{ $json.research }}\n\nPrimary keyword: \n{{ $('Grab New Cluster').item.json['Primary Keyword'] }}\n\nCreate the detailed plan. \n\nYour output must only be the plan and nothing else. \n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        256,
        -144
      ],
      "id": "7f29a356-feb4-4457-a747-05cda1f18d18",
      "name": "Detailed Plan",
      "credentials": {
        "googlePalmApi": {
          "id": "uDIRMIXDqzazTiKk",
          "name": "LHI Google Gemini(PaLM) Api Account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nFor each new blog post project, you are provided with a list of keywords and search intent. \n\n- Keywords: The keywords are to what the blog post is meant to rank for. They are scattered throughout the blog and define the topic of the blog post. \n\n- Search intent: The search intent recognises the intent of the user when searching up the keyword which defines be the theme of the blog post, so they click on our blog to satisfy their search. \n\n- Primary keyword: Out of the keywords, there is one keyword known as the primary keyword. The primary keyword will go in the title and first few sentences. It is important that the topic of the blog post is related to the primary keyword so that you can place it into the title and introduction naturally. \n\nGiven a list of keywords and search intent, your job is to understand the goal of th e blog post, identify the thought process behind the flow of the blog post and come up with a preliminary plan for the post. \n\nYour output must: \n\n- Recognise the discussion points of the blog post.\n\n- Be in dot point format.\n\nYou must ensure that the plan created satisfies the search intent and revolves directly around the given keywords. \n\nWhen making the plan keep in mind that all keywords must be used in the final blog post. \n\nThe final goal of the project is to create a high quality, high value, highly relevant blog post that will satisfy the users search intent and give them everything they need to know about the topic. \n\nA new project just came across your desk with below keywords and search intent:\n\nKeywords: \n{{ $json.Keywords }}\n\nSearch intent: \n{{ $json.Intent }}\n\nPrimary keyword: \n{{ $json['Primary Keyword'] }}\n\nCreate the preliminary plan."
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        -16
      ],
      "id": "8c98353a-7955-42bb-93f8-6deee66f3da0",
      "name": "Blog Pre-Planning",
      "credentials": {
        "googlePalmApi": {
          "id": "uDIRMIXDqzazTiKk",
          "name": "LHI Google Gemini(PaLM) Api Account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=DO NOT OUTPUT ANYTHING OTHER THAN THE CODE. I want you to follow the layout of the template as a guide to generate the WordPress code for a blog post. Here are the rules to follow:\n\nThe blog post should have a title, estimated reading time, key takeaways, table of contents, body, and FAQ in this order.\nMake it engaging by using italics, dot points, quotes, bold, spaces. Never use Emojis.\nThe blog post will have some URLs referenced next to certain keyphrases to show where the info came from. You must hyperlink the keyphrase with the provided URL so that the reader can click on the referenced URL. It is critical you get this right.\nDo not output any extra text or mention code tags like HTML''' around the output; just output the HTML code.\n\nBlog post: \n\n{{ $json.content.parts[0].text }}\n\nHere's an example of a well formatted output:\n\n<div>\n  <h1 id=\"h-ultimate-guide-to-home-pest-control\">The Ultimate Guide to Home Pest Control: Protecting Your Sanctuary</h1>\n  <p>Estimated reading time: 8–12 minutes</p>\n  <br>\n\n  <h2 id=\"h-key-takeaways\"><strong>Key Takeaways</strong></h2>\n  <ul>\n    <li>Regular <a href=\"https://www.example.com/blog/residential-pest-control-benefits\"><strong>residential pest control</strong></a> is crucial for maintaining a healthy and safe home environment.</li>\n    <li>It offers significant <em>health benefits</em> by preventing disease transmission and reducing allergens.</li>\n    <li>Protecting your property from structural damage and contamination is a major advantage.</li>\n    <li>While some DIY methods work, professional services are often necessary for effective long-term pest management.</li>\n    <li>Prevention through simple habits can greatly reduce the risk of infestations.</li>\n  </ul>\n  <br>\n\n  <div>\n    <h2 id=\"h-table-of-contents\">Table of Contents</h2>\n    <ul>\n      <li><a href=\"#h-ultimate-guide-to-home-pest-control\">The Ultimate Guide to Home Pest Control: Protecting Your Sanctuary</a></li>\n      <li><a href=\"#h-key-takeaways\">Key Takeaways</a></li>\n      <li><a href=\"#h-why-pest-control-matters\">Why Pest Control Matters</a></li>\n      <li><a href=\"#h-health-benefits-of-pest-control\">The Undeniable Health Benefits of Pest Control</a></li>\n      <li><a href=\"#h-protecting-your-property\">Protecting Your Property and Valuables</a></li>\n      <li><a href=\"#h-peace-of-mind-and-comfort\">Peace of Mind and Comfort</a></li>\n      <li><a href=\"#h-professional-vs-diy\">Professional vs. DIY: When to Call the Experts</a></li>\n      <li><a href=\"#h-common-household-pests\">Common Household Pests to Watch Out For</a></li>\n      <li><a href=\"#h-effective-prevention-tips\">Effective Prevention Tips for a Pest-Free Home</a></li>\n      <li><a href=\"#h-frequently-asked-questions\">Frequently Asked Questions</a></li>\n    </ul>\n  </div>\n  <br>\n\n  <h2 id=\"h-why-pest-control-matters\">Why Pest Control Matters: Beyond Annoyance</h2>\n  <p>Pests are more than just an annoyance; they pose serious threats to our health, homes, and peace of mind. From the tiny ant marching across your kitchen counter to the scuttling cockroach in the dark, these uninvited guests can quickly turn your sanctuary into a source of stress.</p>\n  <blockquote>\n    <p><em>\"A home free of pests is a home free of worries.\"</em></p>\n  </blockquote>\n  <p>Understanding the full scope of why regular pest control is essential is the first step toward a healthier, happier living environment.</p>\n  <br>\n\n  <h2 id=\"h-health-benefits-of-pest-control\">The Undeniable Health Benefits of Pest Control</h2>\n  <p>One of the most critical reasons to invest in pest control is the direct impact on your family's health. Many pests are known carriers of diseases and allergens.</p>\n  <ul>\n    <li>\n      <h3>Disease Transmission</h3>\n      <p>Pests like mosquitoes, ticks, and rodents are notorious for transmitting pathogens. Mosquitoes can spread dengue and malaria, while ticks are vectors for Lyme disease. Rodents can carry Hantavirus and Salmonella, contaminating food preparation areas and stored goods.</p>\n    </li>\n    <li>\n      <h3>Allergies and Asthma Triggers</h3>\n      <p>Cockroaches and dust mites, though small, are significant sources of allergens. Their droppings and shed skin can exacerbate asthma and allergy symptoms, particularly in children and individuals with respiratory issues. Regular pest management helps minimize these triggers, leading to clearer airways and better sleep.</p>\n    </li>\n  </ul>\n  <br>\n\n  <h2 id=\"h-protecting-your-property\">Protecting Your Property and Valuables</h2>\n  <p>Your home is likely your largest investment, and pests can silently undermine its structural integrity and value.</p>\n  <ul>\n    <li>\n      <h4>Structural Damage</h4>\n      <p>Termites are infamous for their ability to chew through wooden structures, leading to costly repairs. Carpenter ants also tunnel through wood, creating intricate galleries that weaken beams and frames. Early detection and treatment are vital to prevent extensive damage.</p>\n    </li>\n    <li>\n      <h4>Contamination and Destruction of Goods</h4>\n      <p>Pantry pests like weevils and Indian meal moths can infest stored food, leading to spoilage and waste. Moths and silverfish can damage fabrics, books, and irreplaceable heirlooms. Protecting your belongings starts with keeping pests out.</p>\n    </li>\n  </ul>\n  <br>\n\n  <h2 id=\"h-peace-of-mind-and-comfort\">Peace of Mind and Comfort</h2>\n  <p>Beyond the tangible damages, the psychological toll of a pest infestation cannot be overstated. The constant worry, the itching sensation, and the fear of seeing another bug can disrupt your daily life and diminish your quality of living.</p>\n  <p>A pest-free home offers:</p>\n  <ol>\n    <li><em>Reduced Stress:</em> No more jumping at shadows or waking up to unexpected visitors.</li>\n    <li><em>Improved Sleep:</em> Knowing your bed is free of bed bugs allows for restful nights.</li>\n    <li><em>Enhanced Enjoyment of Your Space:</em> You can relax and entertain without embarrassment or discomfort.</li>\n  </ol>\n  <br>\n\n  <h2 id=\"h-professional-vs-diy\">Professional vs. DIY: When to Call the Experts</h2>\n  <p>While some minor pest issues can be tackled with DIY solutions, complex or recurring infestations often require the expertise of professionals.</p>\n  <p>DIY methods might offer temporary relief, but they rarely address the root cause of the problem. Pest control professionals have:</p>\n  <ul>\n    <li><em>Extensive Knowledge:</em> They understand pest behavior, breeding cycles, and habitats.</li>\n    <li><em>Specialized Tools and Products:</em> Access to treatments not available to the general public.</li>\n    <li><em>Safety Protocols:</em> They ensure treatments are applied safely and effectively, minimizing risks to inhabitants and pets.</li>\n  </ul>\n  <p>For comprehensive and effective pest management, especially if you're looking for <a href=\"https://www.example.com/general-pest-control-noida\"><strong>general pest control in Noida</strong></a> or similar localized services, engaging certified experts is highly recommended. They can develop a customized plan tailored to your specific needs and local pest challenges.</p>\n  <br>\n\n  <h2 id=\"h-common-household-pests\">Common Household Pests to Watch Out For</h2>\n  <p>Knowing your enemy is half the battle. Here are a few common culprits that frequently invade homes:</p>\n  <ul>\n    <li><strong>Cockroaches:</strong> Resilient and quick breeders, often found in kitchens and bathrooms.</li>\n    <li><strong>Ants:</strong> Invade in search of food and water, forming visible trails.</li>\n    <li><strong>Mosquitoes:</strong> Breed in standing water and are notorious for their bites and disease transmission.</li>\n    <li><strong>Rodents (Rats & Mice):</strong> Chew through wires, contaminate food, and carry diseases.</li>\n    <li><strong>Bed Bugs:</strong> Tiny, nocturnal pests that feed on blood, causing itchy bites.</li>\n    <li><strong>Termites:</strong> Silent destroyers of wooden structures.</li>\n  </ul>\n  <br>\n\n  <h2 id=\"h-effective-prevention-tips\">Effective Prevention Tips for a Pest-Free Home</h2>\n  <p>Prevention is always better than cure. By adopting a few simple habits, you can significantly reduce the likelihood of pest infestations.</p>\n  <ol>\n    <li><em>Seal Entry Points:</em> Inspect your home for cracks in foundations, gaps around pipes, and torn screens. Seal them promptly.</li>\n    <li><em>Maintain Cleanliness:</em> Keep your kitchen clean, wipe up spills immediately, and store food in airtight containers. Don't leave pet food out overnight.</li>\n    <li><em>Manage Moisture:</em> Repair leaky pipes, ensure good drainage around your home, and dehumidify damp areas.</li>\n    <li><em>Declutter:</em> Pests love hiding in clutter. Regularly clear out old newspapers, boxes, and unused items.</li>\n    <li><em>Trim Vegetation:</em> Keep shrubs and trees trimmed away from your home's foundation and roof, as they can serve as bridges for pests.</li>\n  </ol>\n  <p>By implementing these practices, you create a less inviting environment for pests, helping to keep your home the sanctuary it should be.</p>\n  <br>\n\n  <h2 id=\"h-frequently-asked-questions\">Frequently Asked Questions</h2>\n  <ul>\n    <li>\n      <p><strong>How often should I get professional pest control?</strong></p>\n      <p>The frequency depends on your location, the type of pests prevalent in your area, and the severity of any past infestations. Generally, quarterly or bi-annual treatments are recommended for preventative measures. If you have an active infestation, more frequent visits might be necessary initially.</p>\n    </li>\n    <li>\n      <p><strong>Is professional pest control safe for pets and children?</strong></p>\n      <p>Reputable pest control companies prioritize safety. They use EPA-approved products and apply them strategically to minimize exposure to non-target organisms. Always communicate your concerns about pets and children to the technician, who can advise on specific precautions, such as vacating the premises for a few hours after treatment.</p>\n    </li>\n    <li>\n      <p><strong>Can I really eliminate pests completely from my home?</strong></p>\n      <p>While complete elimination can be challenging, especially for persistent pests like termites or bed bugs, professional pest control aims for significant reduction and long-term management. The goal is to create a barrier and environment that deters pests, making your home virtually pest-free. Consistent prevention and follow-up treatments are key to maintaining this state.</p>\n    </li>\n  </ul>\n</div>\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1440,
        -144
      ],
      "id": "a8e8ef83-8842-495c-a00f-696a9462d463",
      "name": "HTML Creator",
      "credentials": {
        "googlePalmApi": {
          "id": "uDIRMIXDqzazTiKk",
          "name": "LHI Google Gemini(PaLM) Api Account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a slug for the following blog post: \n{{ $('Internal Links').item.json.content.parts[0].text }}\n\nA slug in a blog post is the part of the URL that comes after the domain name and identifies a specific page. It is typically a short, descriptive phrase that summarizes the content of the post, making it easier for users and search engines to understand what the page is about. For example, in the URL www.example.com/intelligent-agents, the slug is intelligent-agents. A good slug is concise, contains relevant keywords, and avoids unnecessary words to improve readability and SEO. \n\nThe slug must be 4 or 5 words max and must include the primary keyword of the blog post which is {{ $('Grab New Cluster').last().json['Primary Keyword'] }}.\n\nYour output must be the slug and nothing else so that I can copy and paste your output and put it at the end of my blog post URL to post it right away. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1744,
        32
      ],
      "id": "eb4a0815-a018-4b72-9e21-ddd21f591386",
      "name": "Slug Writer",
      "credentials": {
        "googlePalmApi": {
          "id": "uDIRMIXDqzazTiKk",
          "name": "LHI Google Gemini(PaLM) Api Account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract the blog post title from the following blog post: \n{{ $('Internal Links').item.json.content.parts[0].text }}\n\n\n\nThe blog post title must include the primary keyword {{ $('Grab New Cluster').last().json['Primary Keyword'] }} and must inform the users right away of what they can expect from reading the blog post. \n\n- Don't put the output in \"\". The output should just text with no markdown or formatting. \n\nYour output must only be the blog post title and nothing else. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2064,
        32
      ],
      "id": "524742a3-7d15-4d22-8627-f79e3439c446",
      "name": "Post Title",
      "credentials": {
        "googlePalmApi": {
          "id": "uDIRMIXDqzazTiKk",
          "name": "LHI Google Gemini(PaLM) Api Account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a good meta description for the following blog post: \n\n{{ $('Internal Links').item.json.content.parts[0].text }}\n\nA good meta description for a blog post that is SEO-optimized should:\n- Be Concise: Stick to 150-160 characters to ensure the full description displays in search results. \n- Include Keywords: Incorporate primary keywords naturally to improve visibility and relevance to search queries.\n\nPrimary keyword = {{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nMore keywords to include if possible = [{{ $('Grab New Cluster').last().json.Keywords }}]\n\n- Provide Value: Clearly describe what the reader will learn or gain by clicking the link. \n\n- Be Engaging: Use persuasive language, such as action verbs or a question, to encourage clicks. \n\n- Align with Content: Ensure the description accurately reflects the blog post to meet user expectations and reduce bounce rates. \n\nYour output must only be the meta description and nothing else. \n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2368,
        32
      ],
      "id": "33b749d8-5f55-4f92-a49a-7a38dd741d8f",
      "name": "Meta Description",
      "credentials": {
        "googlePalmApi": {
          "id": "uDIRMIXDqzazTiKk",
          "name": "LHI Google Gemini(PaLM) Api Account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1_jDZ0NNd5OsBK7cBreoZEsYDCVjoCP7N",
        "title": "={{ $json['Blog Title'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3744,
        -160
      ],
      "id": "861622c2-4cc7-444b-8ff5-e31457ef55f6",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOqjejdCpYaNOrbK",
          "name": "PestControlNoidaGoogleAccount"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('HTML Creator').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3952,
        -160
      ],
      "id": "7cb3d493-8dad-47e8-897f-f020685a34d5",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOqjejdCpYaNOrbK",
          "name": "PestControlNoidaGoogleAccount"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sfezutix.api.sanity.io/v2021-06-07/data/mutate/production",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Post Title').item.json.content.parts[0].text }}"
            },
            {
              "name": "seoTitle",
              "value": "={{ $('Post Title').item.json.content.parts[0].text }}"
            },
            {
              "name": "seoDescription",
              "value": "={{ $('Meta Description').item.json.content.parts[0].text }}"
            },
            {
              "name": "body",
              "value": "={{ $('HTML Creator').item.json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1fc300e0-76b5-432b-b1a2-fa9245654072",
      "name": "Sanity Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4416,
        -160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gukBARwLWD69LgUD",
          "name": "Sanity PCN HTTP"
        }
      }
    }
  ],
  "pinData": {
    "Update a document": [
      {
        "json": {
          "documentId": "1uoawgDARX4jjs31GWRI9TswxobsXPxw68xSSE7JFD7c"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Grab New Cluster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab New Cluster": {
      "main": [
        [
          {
            "node": "Blog Pre-Planning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Links": {
      "main": [
        [
          {
            "node": "Detailed Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Previous Posts": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Internal Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check as completed on Sheets": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Fix Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Writer": {
      "main": [
        [
          {
            "node": "Previous Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detailed Plan": {
      "main": [
        [
          {
            "node": "Blog Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Pre-Planning": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Internal Links": {
      "main": [
        [
          {
            "node": "HTML Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Creator": {
      "main": [
        [
          {
            "node": "Slug Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slug Writer": {
      "main": [
        [
          {
            "node": "Post Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Title": {
      "main": [
        [
          {
            "node": "Meta Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Description": {
      "main": [
        [
          {
            "node": "Check as completed on Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Sanity Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04c7efe7-7bd7-4edd-96b4-87ec737a2fd5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e18382e0bce233dbdc2d700028765e469532d29ab5b344df61b191a90c5fd03"
  },
  "id": "yNQDL3YhxMjBFjBD",
  "tags": []
}